@media print{
    *,:after,:before{
       text-shadow:none!important;
       box-shadow:none!important;
   }
    a,a:visited{
       text-decoration:underline;
   }
    img{
       page-break-inside:avoid;
   }
    h2,h3,p{
       orphans:3;
       widows:3;
   }
    h2,h3{
       page-break-after:avoid;
   }
}
html{
   font-family:sans-serif;
}
header,nav,section{
   display:block;
}
body{
   font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
   font-size:1rem;
   line-height:1.5;
   color:#212529;
   background-color:#fff;
}
[tabindex="-1"]:focus{
   outline:none!important;
}
h2,h3{
   margin-top:0;
   margin-bottom:.5rem;
}
p{
   margin-top:0;
   margin-bottom:1rem;
}
dl,ol,ul{
   margin-bottom:1rem;
}
dl,ol,ul{
   margin-top:0;
}
dt{
   font-weight:700;
}
dd{
   margin-bottom:.5rem;
   margin-left:0;
}
a{
   color:#007bff;
}
a:hover{
   color:#0056b3;
   text-decoration:underline;
}
a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{
   color:inherit;
   text-decoration:none;
}
a:not([href]):not([tabindex]):focus{
   outline:0;
}
img{
   vertical-align:middle;
}
[role=button],a,button,input,textarea{
   -ms-touch-action:manipulation;
   touch-action:manipulation;
}
button:focus{
   outline:1px dotted;
   outline:5px auto -webkit-focus-ring-color;
}
button,input,textarea{
   font-family:inherit;
   font-size:inherit;
   line-height:inherit;
}
textarea{
   resize:vertical;
}
h2,h3{
   margin-bottom:.5rem;
   font-family:inherit;
   font-weight:500;
   line-height:1.1;
   color:inherit;
}
h2{
   font-size:2rem;
}
h3{
   font-size:1.75rem;
}
hr{
   margin-top:1rem;
   margin-bottom:1rem;
   border:0;
   border-top:1px solid rgba(0,0,0,.1);
}
.container{
   margin-right:auto;
   margin-left:auto;
   padding-right:15px;
   padding-left:15px;
   width:100%;
}
@media (min-width:576px){
    .container{
       max-width:540px;
   }
}
@media (min-width:768px){
    .container{
       max-width:720px;
   }
}
@media (min-width:992px){
    .container{
       max-width:960px;
   }
}
@media (min-width:1200px){
    .container{
       max-width:1140px;
   }
}
.row{
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
   margin-right:-15px;
   margin-left:-15px;
}
.col-10,.col-lg-4,.col-lg-5,.col-lg-7,.col-lg-9,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-10,.col-md-11,.col-md-12,.col-sm-10{
   position:relative;
   width:100%;
   min-height:1px;
   padding-right:15px;
   padding-left:15px;
}
.col-10{
   -ms-flex:0 0 83.33333%;
   flex:0 0 83.33333%;
   max-width:83.33333%;
}
.col-10{
   -webkit-box-flex:0;
}
@media (min-width:576px){
    .col-sm-10{
       -webkit-box-flex:0;
       -ms-flex:0 0 83.33333%;
       flex:0 0 83.33333%;
       max-width:83.33333%;
   }
}
@media (min-width:768px){
    .col-md-4{
       -webkit-box-flex:0;
       -ms-flex:0 0 33.33333%;
       flex:0 0 33.33333%;
       max-width:33.33333%;
   }
    .col-md-5{
       -webkit-box-flex:0;
       -ms-flex:0 0 41.66667%;
       flex:0 0 41.66667%;
       max-width:41.66667%;
   }
    .col-md-6{
       -webkit-box-flex:0;
       -ms-flex:0 0 50%;
       flex:0 0 50%;
       max-width:50%;
   }
    .col-md-7{
       -webkit-box-flex:0;
       -ms-flex:0 0 58.33333%;
       flex:0 0 58.33333%;
       max-width:58.33333%;
   }
    .col-md-8{
       -webkit-box-flex:0;
       -ms-flex:0 0 66.66667%;
       flex:0 0 66.66667%;
       max-width:66.66667%;
   }
    .col-md-10{
       -webkit-box-flex:0;
       -ms-flex:0 0 83.33333%;
       flex:0 0 83.33333%;
       max-width:83.33333%;
   }
    .col-md-11{
       -webkit-box-flex:0;
       -ms-flex:0 0 91.66667%;
       flex:0 0 91.66667%;
       max-width:91.66667%;
   }
    .col-md-12{
       -webkit-box-flex:0;
       -ms-flex:0 0 100%;
       flex:0 0 100%;
       max-width:100%;
   }
}
@media (min-width:992px){
    .col-lg-4{
       -webkit-box-flex:0;
       -ms-flex:0 0 33.33333%;
       flex:0 0 33.33333%;
       max-width:33.33333%;
   }
    .col-lg-5{
       -webkit-box-flex:0;
       -ms-flex:0 0 41.66667%;
       flex:0 0 41.66667%;
       max-width:41.66667%;
   }
    .col-lg-7{
       -webkit-box-flex:0;
       -ms-flex:0 0 58.33333%;
       flex:0 0 58.33333%;
       max-width:58.33333%;
   }
    .col-lg-9{
       -webkit-box-flex:0;
       -ms-flex:0 0 75%;
       flex:0 0 75%;
       max-width:75%;
   }
}
.form-group{
   margin-bottom:1rem;
}
.fade{
   opacity:0;
   transition:opacity .15s linear;
}
.progress{
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   overflow:hidden;
   font-size:.75rem;
   line-height:1rem;
   text-align:center;
   background-color:#e9ecef;
   border-radius:.25rem;
}
.progress-bar{
   height:1rem;
   line-height:1rem;
   color:#fff;
   background-color:#007bff;
   transition:width .6s ease;
}
.close{
   float:right;
   font-size:1.5rem;
   font-weight:700;
   line-height:1;
   color:#000;
   text-shadow:0 1px 0 #fff;
   opacity:.5;
}
.close:focus,.close:hover{
   color:#000;
   text-decoration:none;
   opacity:.75;
}
button.close{
   padding:0;
   background:transparent;
   border:0;
   -webkit-appearance:none;
}
.modal{
   overflow:hidden;
}
.modal{
   position:fixed;
   top:0;
   right:0;
   bottom:0;
   left:0;
   z-index:1050;
   display:none;
   outline:0;
}
.modal.fade .modal-dialog{
   transition:-webkit-transform .3s ease-out;
   transition:transform .3s ease-out;
   transition:transform .3s ease-out,-webkit-transform .3s ease-out;
   -webkit-transform:translateY(-25%);
   transform:translateY(-25%);
}
.modal-dialog{
   position:relative;
   width:auto;
   margin:10px;
}
.modal-content{
   position:relative;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   background-color:#fff;
   background-clip:padding-box;
   border:1px solid rgba(0,0,0,.2);
   border-radius:.3rem;
   outline:0;
}
.modal-header{
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
   -webkit-box-pack:justify;
   -ms-flex-pack:justify;
   justify-content:space-between;
   padding:15px;
   border-bottom:1px solid #e9ecef;
}
.modal-body{
   position:relative;
   -webkit-box-flex:1;
   -ms-flex:1 1 auto;
   flex:1 1 auto;
   padding:15px;
}

.sr-only{
   white-space:nowrap;
   -webkit-clip-path:inset(50%);
   clip-path:inset(50%);
}
.mr-auto{
   margin-right:auto!important;
}
.ml-auto{
   margin-left:auto!important;
}

.sr-only{
   position:absolute;
   width:1px;
   height:1px;
   padding:0;
   margin:-1px;
   overflow:hidden;
   clip:rect(0,0,0,0);
   border:0;
}
html{
   line-height:1.15;
   -ms-text-size-adjust:100%;
   -webkit-text-size-adjust:100%;
}
body{
   margin:0;
}
header,nav,section{
   display:block;
}
hr{
   box-sizing:content-box;
   height:0;
   overflow:visible;
}
a{
   background-color:transparent;
   -webkit-text-decoration-skip:objects;
}
b{
   font-weight:inherit;
   font-weight:bolder;
}
img{
   border-style:none;
}
button,input,textarea{
   font-family:sans-serif;
   font-size:100%;
   line-height:1.15;
   margin:0;
}
button,input{
   overflow:visible;
}
button{
   text-transform:none;
}
[type=submit],button,html [type=button]{
   -webkit-appearance:button;
}
[type=button]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
   border-style:none;
   padding:0;
}
[type=button]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
   outline:1px dotted ButtonText;
}
textarea{
   overflow:auto;
}
html{
   box-sizing:border-box;
}
*,:after,:before{
   box-sizing:inherit;
}
html{
   -ms-overflow-style:scrollbar;
   -webkit-tap-highlight-color:transparent;
}
body{
   font-family:Roboto,sans-serif;
   font-size:18px;
   font-weight:400;
   line-height:30px;
   color:#555;
}
hr,ol,ul{
   margin:0;
}
ol,ul{
   padding:0;
   list-style:none;
}
a{
   color:#6d56c1;
   transition:all .3s;
   position:relative;
   text-decoration:none;
   cursor:pointer;
}
a:focus,a:hover{
   color:#6d56c1;
   text-decoration:underline;
}
nav{
   font-size:12px;
   line-height:18px;
   font-family:Roboto Mono,monospace;
   text-transform:uppercase;
   font-weight:700;
   margin-bottom:30px;
}
nav ul li{
   display:inline-block;
}
nav ul li a{
   padding-right:50px;
   color:#999;
}
nav ul li a:after{
   content:"";
   position:absolute;
   width:7px;
   height:2px;
   bottom:0;
   right:42px;
   opacity:0;
   transition:background .3s;
   background:#6d56c1;
}
nav ul li a:hover{
   text-decoration:none;
   transition:all .15s;
   color:#6d56c1;
}
nav ul li a:hover:after{
   opacity:1;
}
button{
   padding:0;
   margin:0;
}
.personal-profile{
   color:#fff;
   font-family:Roboto Mono,monospace;
   padding-top:90px;
}
.personal-profile .personal-profile__avatar img{
   border-radius:5px;
   box-shadow:0 0 27px rgba(96,96,96,.34);
   width:90%;
   height:380px;
   -o-object-fit:cover;
   object-fit:cover;
   margin-top:10px;
   position:relative;
   top:40px;
}

.personal-profile .personal-profile__name{
   font-size:44px;
   line-height:50px;
   font-weight:700;
   margin-top:40px;
   margin-bottom:10px;
}
.personal-profile .personal-profile__work{
   font-size:16px;
   line-height:24px;
   margin-bottom:40px;
}
.personal-profile .personal-profile__contacts{
   margin-bottom:20px;
}
.personal-profile .personal-profile__social{
   margin-bottom:35px;
}
.personal-profile .personal-profile__social a{
   font-size:24px;
   margin-right:15px;
   opacity:.4;
   color:#fff!important;
}
.personal-profile .personal-profile__social a:hover{
   opacity:1;
}
.main-header{
   background-color:#59585e;
   height:100%;
   background-repeat:no-repeat;
   background-position:50%;
   background-size:cover;
   position:relative;
   margin-bottom:40px;
}
.main-header:before{
   background:linear-gradient(54deg,rgba(90, 90, 94, 0.95) 34%,rgba(122, 118, 98, 0.95));
   height:100%;
   left:0;
   right:0;
   position:absolute;
   content:"";
   z-index:0;
}

.contact-list{
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.contact-list dt{
   float:left;
   font-weight:700;
   text-transform:uppercase;
}
.contact-list dd{
   padding-left:100px;
   margin-bottom:15px;
}
.contact-list dd a{
   color:#fff;
}
.contact-list.contact-list__opacity-titles dt{
   opacity:.4;
}
.section{
   padding-top:60px;
   padding-bottom:60px;
}
.section .section__title{
   margin-bottom:40px;
   font-size:36px;
   line-height:42px;
   font-family:Roboto Mono,monospace;
}
.section .section__description{
   margin-bottom:30px;
}

.site-btn{
   background-color:#6d56c1;
   height:50px;
   border-radius:25px;
   font-size:14px;
   line-height:20px;
   text-transform:uppercase;
   padding:15px;
   min-width:170px;
   text-align:center;
   display:inline-block;
   color:#fff!important;
   font-weight:600;
   overflow:hidden;
}
.site-btn img{
   height:14px;
   margin-top:-5px;
   margin-right:5px;
}
.site-btn:focus,.site-btn:hover{
   background-color:#7b67c7;
   text-decoration:none;
}
.site-btn.site-btn--form{
   width:100%;
   border:none!important;
   box-shadow:0 1px 29px rgba(0,0,0,.16);
   position:relative;
}
.site-btn.site-btn--form:hover{
   background-color:#7b67c7!important;
}
.site-btn.site-btn--form:active,.site-btn.site-btn--form:focus{
   box-shadow:none!important;
}
.menu{
   position:fixed;
   padding:0;
   height:0;
   top:0;
   z-index:100;
   width:100%;
   height:70px;
   transition:all .5s;
}
.menu .menu__wrapper{
   z-index:1;
   margin-top:50px;
   transition:all .3s;
}
.menu .menu__wrapper nav{
   font-size:14px;
   line-height:20px;
   font-family:Roboto Mono,monospace;
   text-transform:uppercase;
   font-weight:700;
}
.menu .menu__wrapper nav a{
   color:#fff;
   opacity:1;
}
.menu .menu__wrapper nav a:hover{
   opacity:.5;
}
.menu .menu__wrapper nav a:after{
   background:#fff;
}
.menu .menu__mobile-button{
   color:#fff;
   opacity:.5;
   transition:all .3s;
   background-color:transparent;
   border:none;
}
.menu .menu__mobile-button:hover{
   opacity:1;
}
.menu.menu--active{
   background-color:#fff;
   box-shadow:0 5px 8px 0 rgba(0,0,0,.14);
}
.menu.menu--active .menu__wrapper{
   margin-top:25px;
}
.menu.menu--active .menu__wrapper a{
   color:#555!important;
   opacity:1;
}
.menu.menu--active .menu__wrapper a:hover{
   color:#6d56c1!important;
}
.menu.menu--active .menu__wrapper a:after{
   background:#6d56c1!important;
}
.menu.menu--active .menu__mobile-button{
   color:#555!important;
   opacity:.9;
   margin-top:-5px;
   transition:all .3s;
   background-color:transparent;
   border:none;
}
.menu.menu--active .menu__mobile-button:hover{
   color:#6d56c1!important;
   opacity:1;
}
.menu.menu--active .menu__mobile-button:after{
   background:#6d56c1!important;
}
.project-card{
   margin-left:0;
   margin-bottom:40px;
   transition:box-shadow .3s;
   margin-right:0;
}
.project-card .project-card__img{
   padding-right:0;
   padding-left:0;
}
.project-card .project-card__img img{
   width:100%;
   height:100%;
   -o-object-fit:cover;
   object-fit:cover;
}
.project-card .project-card__info{
   border:1px solid #f1f1f1;
   padding:50px 50px 40px 30px;
}
.project-card .project-card__title{
   font-size:18px;
   line-height:30px;
   font-family:Roboto Mono,monospace;
   text-transform:uppercase;
   margin-bottom:15px;
   font-weight:700;
}
.project-card .project-card__description{
   font-size:16px;
   line-height:24px;
   margin-bottom:45px;
}
.project-card .project-card__stack{
   font-family:Roboto Mono,monospace;
   font-size:12px;
   line-height:18px;
   font-weight:700;
   text-transform:uppercase;
   margin-bottom:15px;
}
.project-card .project-card__link{
   margin-top:55px;
   font-family:Roboto Mono,monospace;
   font-size:14px;
   line-height:20px;
   float:right;
}
.project-card:hover{
   box-shadow:0 1px 31px rgba(0,0,0,.09);
   cursor:pointer;
}
.resume-list{
   margin-top:30px;
   margin-bottom:30px;
}
.resume-list .resume-list_title{
   font-family:Roboto Mono,monospace;
   font-size:14px;
   line-height:20px;
   letter-spacing:5px;
   text-transform:uppercase;
   font-weight:700;
   color:#999;
   margin-bottom:40px;
}
.resume-list .resume-list__block{
   border-left:2px solid #6d56c1;
   padding-left:25px;
   padding-bottom:50px;
}
.resume-list .resume-list__block p{
   margin:0;
}
.resume-list .resume-list__block:before{
   width:12px;
   height:12px;
   border:2px solid #6d56c1;
   position:absolute;
   content:"";
   border-radius:50%;
   background-color:#fff;
   left:10px;
}
.resume-list .resume-list__block:last-child{
   padding-bottom:0;
}
.resume-list .resume-list__block-title{
   text-transform:uppercase;
   color:#6d56c1;
   font-size:14px;
   line-height:20px;
   font-family:Roboto Mono,monospace;
   font-weight:700;
   padding-bottom:5px;
}
.resume-list .resume-list__block-date{
   font-family:Inconsolata,monospace;
   font-size:14px;
   line-height:20px;
   color:#999;
   padding-bottom:10px;
}
.post-cards{
   margin-bottom:40px;
}
.post-cards a:hover{
   text-decoration:none;
}
.post-cards .post-cards__card{
   transition:all .3s;
}
.post-cards .post-cards__card:hover{
   box-shadow:0 1px 31px rgba(0,0,0,.09);
}

.post-cards .post-cards__img{
   padding-top:100%;
   position:relative;
}
.post-cards .post-cards__img img{
   position:absolute;
   width:100%;
   height:100%;
   -o-object-fit:cover;
   object-fit:cover;
   top:0;
}
.post-cards .post-cards__info{
   border:1px solid #f1f1f1;
   padding:20px 40px 40px 20px;
}
.post-cards .post-cards__date{
   font-size:12px;
   line-height:18px;
   text-transform:uppercase;
   color:#999;
   margin-bottom:10px;
}
.post-cards .post-cards_title{
   font-family:Roboto Mono,monospace;
   font-size:14px;
   line-height:20px;
   text-transform:uppercase;
   margin-bottom:15px;
   font-weight:700;
   color:#555;
}
.post-cards .post-cards_description{
   font-size:14px;
   line-height:20px;
   color:#999;
   margin-bottom:0;
}
.background{
   background-color:#6d56c1;
   height:100%;
   background-repeat:no-repeat;
   background-position:50%;
   background-size:cover;
   position:relative;
   color:#fff;
}
.background:before{
    background:linear-gradient(54deg,rgba(90, 90, 94, 0.95) 34%,rgba(122, 118, 98, 0.95));
   height:100%;
   left:0;
   right:0;
   position:absolute;
   content:"";
   z-index:0;
}
.contacts{
   margin-top:20px;
}
.contacts .contacts__list{
   margin-bottom:45px;
}
.contacts .contacts__social{
   font-size:16px;
   line-height:24px;
}
.contacts .contacts__social li{
   margin-bottom:20px;
}
.contacts .contacts__social a{
   color:#fff;
   text-decoration:underline;
   padding:6px 0;
   transition:all .3s;
}
.contacts .contacts__social a:hover{
   color:#6d56c1;
   text-decoration:none;
   background-color:#fff;
}
.contacts .contacts__form .form-group{
   margin-bottom:15px;
   position:relative;
}
.contacts .contacts__form .form-group span{
   color:#fff;
   position:absolute;
   top:10px;
   text-align:right;
   opacity:0;
   right:20px;
   z-index:0;
}
.contacts .contacts__form .form-group .form-validation{
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   border-radius:2px;
   border:2px solid #6d56c1;
   pointer-events:none;
   opacity:0;
   transition:all .3s;
}
.contacts .contacts__form input{
   width:100%;
   background-color:transparent;
   border-radius:3px;
   border:1px solid #fff;
   padding:10px;
   color:#fff;
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.contacts .contacts__form input::-webkit-input-placeholder{
   color:#fff;
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.contacts .contacts__form input:-moz-placeholder,.contacts .contacts__form input::-moz-placeholder{
   color:#fff;
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.contacts .contacts__form input:-ms-input-placeholder{
   color:#fff;
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.contacts .contacts__form input:active,.contacts .contacts__form input:focus{
   box-shadow:inset 0 0 5px 0 #fff;
   border:1px solid #fff;
   outline:none;
}
.contacts .contacts__form input:invalid{
   outline:none;
}
.contacts .contacts__form textarea{
   width:100%;
   background-color:transparent;
   border-radius:3px;
   border:1px solid #fff;
   padding:10px;
   height:115px;
   color:#fff;
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.contacts .contacts__form textarea::-webkit-input-placeholder{
   color:#fff;
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.contacts .contacts__form textarea:-moz-placeholder,.contacts .contacts__form textarea::-moz-placeholder{
   color:#fff;
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.contacts .contacts__form textarea:-ms-input-placeholder{
   color:#fff;
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.contacts .contacts__form textarea:active,.contacts .contacts__form textarea:focus{
   box-shadow:inset 0 0 5px 0 #fff;
   border:1px solid #fff;
   outline:none;
}
.contacts .contacts__form textarea:invalid{
   outline:none;
}

.contacts .contacts__form-title{
   margin-bottom:20px;
}
.contacts .contacts__form-title,.footer{
   font-size:16px;
   line-height:24px;
   font-family:Roboto Mono,monospace;
}
.footer{
    background:#000000;
   color:#fff;
   opacity:.6;
   width:100%;
   text-align:center;
   top:60px;
   position:relative;
   margin-bottom:30px;
}
.progress-list{
   margin-top:30px;
}
.progress-list .progress-list__title{
   font-family:Roboto Mono,monospace;
   letter-spacing:5px;
   font-weight:700;
   color:#999;
   margin-bottom:40px;
}
.progress-list .progress-list__title,.progress-list p{
   font-size:14px;
   line-height:20px;
   text-transform:uppercase;
}
.progress-list p{
   width:100%;
   font-family:Inconsolata,monospace;
   margin-bottom:10px;
}
.progress-list p .progress-list__skill-value{
   float:right;
}
.progress-list .progress{
   height:6px;
   margin-bottom:30px;
}
.progress-list .progress .progress-bar{
   background-color:#6d56c1;
}
.portfolio-modal .modal-content{
   border-radius:0;
   background-color:#f6f5f5;
}
.portfolio-modal .modal-header{
   border-bottom:0;
   height:70px;
}
@media screen and (max-width:990px){
    .portfolio-modal .modal-header{
       height:50px;
   }
}
.portfolio-modal .modal-header .close{
   right:20px;
   top:20px;
   position:absolute;
   font-weight:300;
   color:#999;
   font-size:20px;
   width:20px;
}
.portfolio-modal .modal-body{
   padding:0;
   padding-bottom:80px;
}
@media screen and (max-width:990px){
    .portfolio-modal .modal-body{
       padding:15px;
       padding-bottom:50px;
   }
}
.portfolio-modal .portfolio-modal__title{
   font-family:Roboto Mono,monospace;
   margin-bottom:30px;
}
.portfolio-modal .portfolio-modal__img{
   width:100%;
   margin-bottom:30px;
}
.portfolio-modal .portfolio-modal__description{
   font-size:16px;
   line-height:24px;
   margin-bottom:0;
}
.portfolio-modal .portfolio-modal__link{
   font-family:Roboto Mono,monospace;
   font-size:14px;
   line-height:20px;
   margin-top:40px;
}
.portfolio-modal .portfolio-modal__stack{
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   margin-top:40px;
}
.portfolio-modal .portfolio-modal__stack-title{
   font-family:Roboto Mono,monospace;
   font-size:12px;
   line-height:18px;
   font-weight:700;
   text-transform:uppercase;
   margin-right:15px;
   padding-top:10px;
}
.tags li{
   display:inline-block;
   font-size:14px;
   line-height:20px;
   background-color:#fff;
   box-shadow:0 1px 4px rgba(0,0,0,.14);
   padding:5px 10px;
   margin-right:10px;
   border-radius:3px;
}
@media screen and (max-width:990px){
    .tags li{
       margin-bottom:10px;
   }
}

.slider-carousel{
   position:relative;
}
.slider-carousel .slider-carousel__title{
   text-transform:uppercase;
   font-family:Roboto Mono,monospace;
   margin-top:80px;
   margin-bottom:10px;
}
.slider-carousel .slider-carousel__caption{
   font-size:16px;
   line-height:24px;
   font-style:italic;
   opacity:.7;
   margin-bottom:20px;
}
.slider-carousel hr{
   border-top:1px solid #a98a79;
   margin-bottom:20px;
}
.slider-carousel .slider-carousel__description{
   margin-bottom:60px;
}
.slider-carousel .slider-carousel__circle{
   height:88px;
   width:88px;
   border-radius:50%;
   position:absolute;
   top:-44px;
   right:calc(50% - 44px);
   background-color:#fff;
   padding-top:44px;
   text-align:center;
   color:#7b67c7;
}
.slider-carousel .carousel-inner{
   height:400px;
}
.slider-carousel .carousel-control-next{
   -webkit-box-pack:end;
   -ms-flex-pack:end;
   justify-content:flex-end;
}
.slider-carousel .carousel-control-prev{
   -webkit-box-pack:start;
   -ms-flex-pack:start;
   justify-content:flex-start;
}
.slider-carousel .carousel-indicators li{
   width:8px;
   height:8px;
   border-radius:50%;
   background-color:transparent;
   border:1px solid #fff;
}
.slider-carousel li.active{
   background-color:#fff;
}
.slider-carousel .carousel-indicators{
   bottom:60px;
}


.mdi:before{
   display:inline-block;
   font:normal normal normal 24px/1 "Material Design Icons";
   font-size:inherit;
   text-rendering:auto;
   line-height:inherit;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
}
.mdi-close:before{
   content:"\F156";
}
@font-face{
   font-family:'Roboto';
   font-style:normal;
   font-weight:400;
   src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
   unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face{
   font-family:'Roboto';
   font-style:normal;
   font-weight:400;
   src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
   unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face{
   font-family:'Roboto';
   font-style:normal;
   font-weight:400;
   src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
   unicode-range:U+1F00-1FFF;
}
@font-face{
   font-family:'Roboto';
   font-style:normal;
   font-weight:400;
   src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
   unicode-range:U+0370-03FF;
}
@font-face{
   font-family:'Roboto';
   font-style:normal;
   font-weight:400;
   src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
   unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face{
   font-family:'Roboto';
   font-style:normal;
   font-weight:400;
   src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
   unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
   font-family:'Roboto';
   font-style:normal;
   font-weight:400;
   src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
   unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
   font-family:FontAwesome;
   src:url(http://previews.aspirity.com/spirit/assets/fonts/fontawesome-webfont.eot?v=4.7.0);
   src:url(http://previews.aspirity.com/spirit/assets/fonts/fontawesome-webfont.eot#iefix&v=4.7.0) format("embedded-opentype"),url(http://previews.aspirity.com/spirit/assets/fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),url(http://previews.aspirity.com/spirit/assets/fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"),url(http://previews.aspirity.com/spirit/assets/fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),url(http://previews.aspirity.com/spirit/assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
   font-weight:400;
   font-style:normal;
}
@font-face{
   font-family:'Roboto Mono';
   font-style:normal;
   font-weight:400;
   src:local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhGq3-cXbKDO1w.woff2) format('woff2');
   unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face{
   font-family:'Roboto Mono';
   font-style:normal;
   font-weight:400;
   src:local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhPq3-cXbKDO1w.woff2) format('woff2');
   unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face{
   font-family:'Roboto Mono';
   font-style:normal;
   font-weight:400;
   src:local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhHq3-cXbKDO1w.woff2) format('woff2');
   unicode-range:U+1F00-1FFF;
}
@font-face{
   font-family:'Roboto Mono';
   font-style:normal;
   font-weight:400;
   src:local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhIq3-cXbKDO1w.woff2) format('woff2');
   unicode-range:U+0370-03FF;
}
@font-face{
   font-family:'Roboto Mono';
   font-style:normal;
   font-weight:400;
   src:local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhEq3-cXbKDO1w.woff2) format('woff2');
   unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face{
   font-family:'Roboto Mono';
   font-style:normal;
   font-weight:400;
   src:local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhFq3-cXbKDO1w.woff2) format('woff2');
   unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
   font-family:'Roboto Mono';
   font-style:normal;
   font-weight:400;
   src:local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2) format('woff2');
   unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
   font-family:'Inconsolata';
   font-style:normal;
   font-weight:400;
   src:local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v18/QldKNThLqRwH-OJ1UHjlKGlW5qhExfHwNJU.woff2) format('woff2');
   unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face{
   font-family:'Inconsolata';
   font-style:normal;
   font-weight:400;
   src:local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v18/QldKNThLqRwH-OJ1UHjlKGlX5qhExfHwNJU.woff2) format('woff2');
   unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
   font-family:'Inconsolata';
   font-style:normal;
   font-weight:400;
   src:local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v18/QldKNThLqRwH-OJ1UHjlKGlZ5qhExfHw.woff2) format('woff2');
   unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
   font-family:"Material Design Icons";
   src:url("https://cdn.materialdesignicons.com/2.0.46/fonts/materialdesignicons-webfont.eot?v=2.0.46");
   src:url("https://cdn.materialdesignicons.com/2.0.46/fonts/materialdesignicons-webfont.eot#iefix&v=2.0.46") format("embedded-opentype"),url("https://cdn.materialdesignicons.com/2.0.46/fonts/materialdesignicons-webfont.woff2?v=2.0.46") format("woff2"),url("https://cdn.materialdesignicons.com/2.0.46/fonts/materialdesignicons-webfont.woff?v=2.0.46") format("woff"),url("https://cdn.materialdesignicons.com/2.0.46/fonts/materialdesignicons-webfont.ttf?v=2.0.46") format("truetype"),url("https://cdn.materialdesignicons.com/2.0.46/fonts/materialdesignicons-webfont.svg?v=2.0.46#materialdesigniconsregular") format("svg");
   font-weight:normal;
   font-style:normal;
}
